<!-- ~/.config/launchdaemons/com.user.pf-dnscrypt.plist   -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.pf-dnscrypt</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>grep -qF 'rdr-anchor "com.user.dnscrypt"' /etc/pf.conf || printf '\nrdr-anchor "com.user.dnscrypt"\n' >> /etc/pf.conf; /sbin/pfctl -a 'com.user.dnscrypt' -N -f /etc/pf-dnscrypt.conf; /sbin/pfctl -e 2&gt;/dev/null || true</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
