{{- $email := env "CHEZMOI_EMAIL" | default (promptString "email") -}}
{{- $github_username := env "CHEZMOI_GITHUB_USERNAME" | default (promptString "github_username") -}}
{{- $infisical_token := env "CHEZMOI_INFISICAL_TOKEN" | default (promptString "infisical_token") -}}

[edit]
  command = "nvim"
[data]
  email = {{ $email | quote }}
[data.github]
  username = {{ $github_username | quote }}
[data.infisical]
  token = {{ $infisical_token | quote }}
[add]
  secrets = "error"
[git]
  autoCommit={{ eq .chezmoi.os "darwin" }}
  autoPush={{ eq .chezmoi.os "darwin" }}
