{{- $email := env "CHEZMOI_EMAIL" -}}
{{- if not $email -}}
  {{- $email = promptString "email" -}}
{{- end -}}

{{- $name := env "CHEZMOI_NAME" -}}
{{- if not $name -}}
  {{- $name = promptString "name" -}}
{{- end -}}

{{- $github_username := env "CHEZMOI_GITHUB_USERNAME" -}}
{{- if not $github_username -}}
  {{- $github_username = promptString "github_username" -}}
{{- end -}}

{{- $infisical_token := env "CHEZMOI_INFISICAL_TOKEN" -}}
{{- if not $infisical_token -}}
  {{- $infisical_token = promptString "infisical_token" -}}
{{- end -}}

{{- $gpgKey := env "CHEZMOI_GPG_KEY" -}}
{{- if not $gpgKey -}}
  {{- $gpgKey = promptString  "gpg_signing_key"  -}}
{{- end -}}

{{- $lsLicense := or (env "CHEZMOI_LS_LICENSE") (promptStringOnce . "ls_license" "Little Snitch license key (laisser vide pour ignorer)") -}}

[edit]
  command = "nvim"
[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  gpg_signing_key = {{ $gpgKey | quote }}
[data.github]
  username = {{ $github_username | quote }}
[data.infisical]
  token = {{ $infisical_token | quote }}
[add]
  secrets = "error"
[git]
  autoCommit={{ eq .chezmoi.os "darwin" }}
  autoPush={{ eq .chezmoi.os "darwin" }}
[telemetry]
  enable = false
