{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $github_username := promptStringOnce . "username" "Github username" -}}
{{- $infisical_token := promptStringOnce . "token" "infisical token" -}}

[edit]
  command = "nvim"
[data]
  email = {{ $email | quote }}
[data.github]
  username = {{ $github_username | quote }}
[data.infisical]
  token = {{ $infisical_token | quote }}
[add]
  secrets = "error"
[git]
  autoCommit=true
  autoPush=true
