{{ if eq .chezmoi.os "darwin" }}
  #Home brew bundle path
  export HOMEBREW_BUNDLE_FILE="$HOME/.config/homebrew/config.homebrew"
  export HOMEBREW_NO_ANALYTICS=1
  export HOMEBREW_NO_INSECURE_REDIRECT=1
  export HOMEBREW_CASK_OPTS=--require-sha
  export HOMEBREW_GITHUB_API_TOKEN={{ keyring "homebrew_api" .email }}
  export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

# pnpm
{{ if eq .chezmoi.os "darwin" }}
  export PNPM_HOME="$HOME/Library/pnpm"
{{ else }}
  export PNPM_HOME="$HOME/.local/share/pnpm"
{{ end }}
export PATH="$PNPM_HOME:$PATH"
# pnpm end

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
#JJ
export JJ_EDITOR="nvim"

autoload -U add-zsh-hook

load-nvmrc() {
  local node_version="$(nvm version)"
  local nvmrc_path="$(nvm_find_nvmrc)"

  if [ -n "$nvmrc_path" ]; then
    local nvmrc_node_version=$(nvm version "$(cat "${nvmrc_path}")")

    if [ "$nvmrc_node_version" = "N/A" ]; then
      nvm install
    elif [ "$nvmrc_node_version" != "$node_version" ]; then
      nvm use
    fi
  elif [ "$node_version" != "$(nvm version default)" ]; then
    echo "Reverting to nvm default version"
    nvm use default
  fi
}

add-zsh-hook chpwd load-nvmrc
load-nvmrc
# NVM end

#Zinit
## set the directory we want to store zinit and plugins
export ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
if [ ! -d $ZINIT_HOME ]; then 
  mkdir -p "$(dirname $ZINIT_HOME)"
  git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi
## load/source zinit
source "${ZINIT_HOME}/zinit.zsh"

##plugins

#
###zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab

###zsh plugins from oh-my-zsh
zinit snippet OMZP::git
zinit snippet OMZP::eza

### load completions
autoload -U compinit && compinit
zinit cdreplay -q

# jj completion — seulement si installé
command -v jj &>/dev/null && source <(jj util completion zsh)


### keybindings
bindkey '^y' autosuggest-accept
#### circle through history using previously written command as filter
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward

### history
HISTSIZE=5000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
HISTIGNORE="*TOKEN*:*SECRET*:*PASSWORD*:*API_KEY*:*PRIVATE*:*export *=*"
setopt appendhistory
setopt sharehistory
#### do not save command starting with a space to history
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

### completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors '${(s.:.)LS_COLORS}'
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza --icons=always --color=always --sort=type $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'eza --icons=always --color=always -sort=type $realpath'
zstyle ':omz:plugins:eza' 'dirs-first' yes
zstyle ':omz:plugins:eza' 'git-status' yes
zstyle ':omz:plugins:eza' 'icons' yes
zstyle ':omz:plugins:eza' 'time-style' iso

#Zinitend

#aliases
alias vim="nvim"
# alias ls="eza --icons=always --git --color=always --long"
# alias ll="ls -lh"
# alias l='ls -lah'
# alias la='ls -lAh'
# alias lsa='ls -lah'
alias find="fd"
# alias cat="bat --theme=\$(defaults read -globalDomain AppleInterfaceStyle &> /dev/null && echo \"Catppuccin-macchiato\" || echo \"gruvbox-light\")"
alias cat="bat --theme=\"Catppuccin-latte\""
alias grep="rg"
# alias icat="kitty +kitten icat" # display image in term
# alias theme="kitty +kitten themes"
alias cc="clear"
alias urldecode="perl -pe 's/\%(\w\w)/chr hex $1/ge'"
#Aliases end

#Neovide

{{ if eq .chezmoi.os "darwin" }}
  launchctl setenv NEOVIDE_FRAME buttonless
{{ end }}

###shell integrations
if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config $HOME/.config/ohmyposh/zen.toml)"
fi
eval "$(fzf --zsh)"
eval "$(zoxide init --cmd cd zsh)"

